@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
    @apply px-2;
}

.bg-primary {
    background-color: rgb(125, 185, 180);
}

.bg-secondary {
    background-color: rgb(67, 158, 158);
}

.mobile-nav {
    @apply fixed top-10 left-0 bg-gray-800 w-full h-1/4;
}

.mobile-nav li {
    @apply w-full h-full text-center border-b-2 border-gray-700; 
}

.project-desc {
    @apply absolute inset-0 bg-secondary opacity-0 transition-opacity duration-500 hover:opacity-100;
}

.btn {
    @apply bg-primary px-5 py-2 font-bold hover:border-2 border-white rounded transition duration-300; /* Added transition for smooth effect */
}

html {
    scroll-behavior: smooth;
}
